@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@* @{
       <nav class="navbar align-items-start sidebar accordion p-2 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                   href="#">
                    <img src="~/assets/img/logo-nav.png" class="img-fluid">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light text-center" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Admin")">
                            <i class="fas fa-tachometer-alt "></i><span class="ms-2">Dashboard</span>
                        </a>
                    </li>
                   @*  <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Profile","Profile")" ">
                            <i class="fas fa-user "></i><span class="ms-2">Perfil</span>
                        </a>
                    </li> *@@*
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Table","Admin")">
                            <i class="fas fa-table "></i><span class="ms-2">Consultar Usuarios</span>
                        </a>
                    </li>
                    @* <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login","Account")" ">
                            <i class="far fa-user-circle "></i><span class="ms-2">Inciar Sesión</span>
                        </a>
                    </li>
                    <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Register","Account")">
                            <i class="fas fa-user-circle "></i><span class="ms-2">Registrarse</span>
                        </a>
                    </li>
                    <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ForgotPassword","Account")">
                            <i class="fas fa-lock "></i><span class="ms-2">Olvidaste Contraseña</span>
                        </a>
            </li>*@@*
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login","Account")">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw me-2"></i><span class="ms-2">Cerrar Sesión</span>
                        </a>
            </li>
                </ul>

                <div class="text-center  d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>

} *@


@{
    <nav class="navbar align-items-start sidebar accordion p-2">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
               asp-controller="Home" asp-action="Index">
                <img src="~/assets/img/logo-nav.png" class="img-fluid">
                <div class="sidebar-brand-icon rotate-n-15"></div>
                <div class="sidebar-brand-text mx-3"></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light text-center" id="accordionSidebar">
                @*<li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="Index">
            <i class="fas fa-tachometer-alt "></i><span class="ms-2">Dashboard</span>
            </a>
            </li>*@
                <!-- Otros elementos de menú -->

               
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="UserManagement">
                        <i class="fas fa-table "></i><span class="ms-2">Administrar Usuarios</span>
                    </a>

                </li>
                <li class="nav-item dropend">
                    <div class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link"
                           aria-expanded="false" data-bs-toggle="dropdown" href="#">
                            <i class="fas fa-table "></i><span class="ms-2">Administrar Usuarios</span>
                        </a>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                            <a class="dropdown-item" asp-action="TableUsers" asp-controller="Admin">
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
                                Usuarios
                            </a> <a class="dropdown-item" asp-action="TableDoctor" asp-controller="Admin">
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
                                Doctores
                            </a><a class="dropdown-item" asp-action="TableAdmin" asp-controller="Admin">
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
                                Administradores
                            </a>

                        </div>
                    </div>
            </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="SiteManagement">
                        <i class="fas fa-tools "></i><span class="ms-2">Administrar Sitio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Login">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw me-2"></i><span class="ms-2">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>

            @*<div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>*@
        </div>
        
    </nav>


}
@section scripts {
    <script>
       document.addEventListener("DOMContentLoaded", function() {
        const adminUsersLink = document.querySelector(".dropdown > a");

        adminUsersLink.addEventListener("click", function(e) {
            e.preventDefault();
            const dropdownContent = this.nextElementSibling;
            dropdownContent.style.display = dropdownContent.style.display === "block" ? "none" : "block";
        });
    });
    </script>


    <!-- Scripts específicos para esta vista parcial -->
    @* <script src="~/assets/js/theme.js" asp-append-version="true"></script>
    <script src='https://code.jquery.com/jquery-3.7.0.min.js' asp-append-version="true"></script> *@
}
