@using System.Collections.Specialized
@using WebSmileSoft.Models;
@* @model WebSmileSoft.Models.UsuariosModel[] *@
@model List<UsuariosModel>

@{
    ViewData["Title"] = "Tabla";
}
@{


  
// <script>
//         $(document).ready(function () {
//             $('[data-toggle="tooltip"]').tooltip();
//             var actions = $("table td:last-child").html();
//             // Append table with add row form on add new button click
//             $(".add-new").click(function () {
//                 $(this).attr("disabled", "disabled");
//                 var index = $("table tbody tr:last-child").index();
//                 var row = '<tr>' +
//                     '<td><input type="text" class="form-control" name="name" id="name"></td>' +
//                     '<td><input type="text" class="form-control" name="department" id="department"></td>' +
//                     '<td><input type="text" class="form-control" name="phone" id="phone"></td>' +
//                     '<td>' + actions + '</td>' +
//                     '</tr>';
//                 $("table").append(row);
//                 $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
//                 $('[data-toggle="tooltip"]').tooltip();
//             });
//             // Add row on add button click
//             $(document).on("click", ".add", function () {
//                 var empty = false;
//                 var input = $(this).parents("tr").find('input[type="text"]');
//                 input.each(function () {
//                     if (!$(this).val()) {
//                         $(this).addClass("error");
//                         empty = true;
//                     } else {
//                         $(this).removeClass("error");
//                     }
//                 });
//                 $(this).parents("tr").find(".error").first().focus();
//                 if (!empty) {
//                     input.each(function () {
//                         $(this).parent("td").html($(this).val());
//                     });
//                     $(this).parents("tr").find(".add, .edit").toggle();
//                     $(".add-new").removeAttr("disabled");
//                 }
//             });
//             // Edit row on edit button click
//             $(document).on("click", ".edit", function () {
//                 $(this).parents("tr").find("td:not(:last-child)").each(function () {
//                     $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
//                 });
//                 $(this).parents("tr").find(".add, .edit").toggle();
//                 $(".add-new").attr("disabled", "disabled");
//             });
//             // Delete row on delete button click
//             $(document).on("click", ".delete", function () {
//                 $(this).parents("tr").remove();
//                 $(".add-new").removeAttr("disabled");
//             });
//         });
// </script>
}


                                    @{
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable">
            <!-- Encabezados de columna -->
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Consultorio</th>
                    <th>Edad</th>
                    <th>Ultimo Ingreso</th>
                    <th>Documento</th>
                    <th>Tipo de Documento</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Género</th>
                    <th>Dirección</th>
                    <th>Número de Celular</th>
                    <th>Correo Electrónico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
         
            <tbody>
            <tbody>
                    @foreach (var usuario in Model)
                    {
                    <tr>
                        <td>@usuario.Nombre</td>
                        <td>@usuario.Apellido</td>
                        <td>@usuario.Rol</td>
                        <td>@usuario.Consultorio</td>
                        <td>@usuario.Edad</td>
                        <td>@usuario.UltimoIngreso</td>
                        <td>@usuario.Documento</td>
                        <td>@usuario.TipoDocumento</td>
                        <td>@usuario.FechaNacimiento</td>
                        <td>@usuario.Genero</td>
                        <td>@usuario.Direccion</td>
                        <td>@usuario.NumeroCelular</td>
                        <td>@usuario.CorreoElectronico</td>
                        <td>
                           @* <a class="btn btn-primary btn-sm edit-user" data-toggle="tooltip" title="Editar" data-id="@usuario.Id"><i class="far fa-edit"></i></a>
                            <a class="btn btn-danger btn-sm delete-user" data-toggle="tooltip" title="Eliminar" data-id="@usuario.Id"><i class="fas fa-trash"></i></a>
                            <a class="btn btn-warning btn-sm deactivate-user" data-toggle="tooltip" title="Inactivar" data-id="@usuario.Id"><i class="fas fa-ban"></i></a>*@
                            <a class="btn btn-primary btn-sm edit-user" data-toggle="modal" data-target="#editModal" data-id="@usuario.Id"><i class="far fa-edit"></i></a>
                            <a class="btn btn-danger btn-sm delete-user" data-toggle="modal" data-target="#deleteModal" data-id="@usuario.Id"><i class="fas fa-trash"></i></a>
                            <a class="btn btn-warning btn-sm deactivate-user" data-toggle="modal" data-target="#deactivateModal" data-id="@usuario.Id"><i class="fas fa-ban"></i></a>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
    <div class="text-end">
        <a class="btn btn-success" href="#">Agregar Usuario</a>
    </div>

    <!-- Modal de Edición -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí coloca los campos de edición, por ejemplo: -->
                    <form>
                        <div class="mb-3">
                            <label for="editNombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="editNombre" name="editNombre">
                        </div>
                        <div class="mb-3">
                            <label for="editRol" class="form-label">Rol:</label>
                            <input type="text" class="form-control" id="editRol" name="editRol">
                        </div>
                        <!-- Agrega más campos de edición aquí según sea necesario -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="saveChanges">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Eliminación -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <!-- ... (contenido del modal de eliminación) -->
    </div>

    <!-- Modal de Inactivación -->
    <div class="modal fade" id="deactivateModal" tabindex="-1" role="dialog" aria-labelledby="deactivateModalLabel" aria-hidden="true">
        <!-- ... (contenido del modal de inactivación) -->
    </div>


                                    }


                            @section Scripts{
    // <script>
    //     // Espera a que el documento esté listo
    //     $(document).ready(function () {
    //         // Controlador de clic para el botón "Editar"
    //         $(".edit-user").click(function () {
    //             // Obtiene el valor de data-id
    //             var userId = $(this).data("id");

    //             // Realiza alguna acción, como redireccionar a la página de edición del usuario
    //             window.location.href = "/Admin/UserManagement/Editar/" + userId;
    //         });

    //         // Controlador de clic para el botón "Eliminar"
    //         $(".delete-user").click(function () {
    //             // Obtiene el valor de data-id
    //             var userId = $(this).data("id");

    //             // Puedes mostrar un cuadro de diálogo de confirmación aquí
    //             var confirmDelete = confirm("¿Estás seguro de que deseas eliminar este usuario?");

    //             // Si el usuario confirma la eliminación
    //             if (confirmDelete) {
    //                 // Realiza una solicitud AJAX para eliminar el usuario en el servidor
    //                 $.ajax({
    //                     url: "/Admin/UserManagement/Eliminar/" + userId,
    //                     type: "POST",
    //                     success: function (result) {
    //                         // Actualiza la vista o realiza alguna otra acción
    //                         alert("Usuario eliminado correctamente");
    //                     },
    //                     error: function () {
    //                         alert("Error al eliminar el usuario");
    //                     }
    //                 });
    //             }
    //         });

    //         // Controlador de clic para el botón "Inactivar"
    //         $(".deactivate-user").click(function () {
    //             // Obtiene el valor de data-id
    //             var userId = $(this).data("id");

    //             // Realiza una solicitud AJAX para inactivar el usuario en el servidor
    //             $.ajax({
    //                 url: "/Admin/UserManagement/Inactivar/" + userId,
    //                 type: "POST",
    //                 success: function (result) {
    //                     // Actualiza la vista o realiza alguna otra acción
    //                     alert("Usuario inactivado correctamente");
    //                 },
    //                 error: function () {
    //                     alert("Error al inactivar el usuario");
    //                 }
    //             });
    //         });
    //     });

   
                   $(document).ready(function () {
                       // Controlador de clic para el botón "Editar"
                   $(".edit-user").click(function () {
                       // Obtiene el valor de data-id
                       var userId = $(this).data("id");
                       console.log(userId);

                       // Realiza alguna acción, como redireccionar a la página de edición del usuario
                       // window.location.href = "/Admin/UserManagement/Editar/" + userId;

                       // Aquí deberías cargar los datos del usuario en el modal
                       // Por ejemplo, si tienes un objeto JavaScript con los datos del usuario, puedes hacer lo siguiente:
                       var userData = {
                           Nombre: "Nombre del Usuario",
                           Rol: "Rol del Usuario",
                           // Agrega más propiedades según sea necesario
                       };

                       // Llena los campos del modal con los datos del usuario
                       $("#editNombre").val(userData.Nombre);
                       $("#editRol").val(userData.Rol);

                       // Abre el modal de edición
                       $("#editModal").modal("show");
                   });
               //Este código se ejecutará cuando se hace clic en el botón "Editar".Debes ajustar la lógica para cargar los datos del usuario desde tu sistema y llenar los campos del modal con esos datos.




                       // Controlador de clic para el botón "Eliminar"
                       $(".delete-user").click(function () {
                           // Obtiene el valor de data-id
                           var userId = $(this).data("id");

                           // Abre el modal de eliminación correspondiente
                           $("#deleteModal").modal("show");

                           // Puedes pasar el userId al modal de eliminación si lo necesitas
                           $("#deleteModal").data("userId", userId);
                       });

                       // Controlador de clic para el botón "Inactivar"
                       $(".deactivate-user").click(function () {
                           // Obtiene el valor de data-id
                           var userId = $(this).data("id");

                           // Abre el modal de inactivación correspondiente
                           $("#deactivateModal").modal("show");

                           // Puedes pasar el userId al modal de inactivación si lo necesitas
                           $("#deactivateModal").data("userId", userId);
                       });

                       // Controlador de clic para el botón de confirmación de eliminación
                       $("#confirmDelete").click(function () {
                           // Obtiene el userId del modal de eliminación
                           var userId = $("#deleteModal").data("userId");

                           // Realiza una solicitud AJAX para eliminar el usuario en el servidor
                           $.ajax({
                               url: "/Admin/UserManagement/Eliminar/" + userId,
                               type: "POST",
                               success: function (result) {
                                   // Actualiza la vista o realiza alguna otra acción
                                   alert("Usuario eliminado correctamente");
                                   $("#deleteModal").modal("hide");
                               },
                               error: function () {
                                   alert("Error al eliminar el usuario");
                               }
                           });
                       });

                       // Controlador de clic para el botón de confirmación de inactivación
                       $("#confirmDeactivate").click(function () {
                           // Obtiene el userId del modal de inactivación
                           var userId = $("#deactivateModal").data("userId");

                           // Realiza una solicitud AJAX para inactivar el usuario en el servidor
                           $.ajax({
                               url: "/Admin/UserManagement/Inactivar/" + userId,
                               type: "POST",
                               success: function (result) {
                                   // Actualiza la vista o realiza alguna otra acción
                                   alert("Usuario inactivado correctamente");
                                   $("#deactivateModal").modal("hide");
                               },
                               error: function () {
                                   alert("Error al inactivar el usuario");
                               }
                           });
                       });
                   });

    // </script>
    


                            }